Discriminators.ipynb
Discriminators.py
HiFiGAN.html
HiFiGAN_files/
HiFiGAN_with_JAX/
LJSpeech-1.1.tar.bz2
__pycache__/
_extensions/
checkpoints/
dataset/
runs/
extend_vocab_config.py
download_checkpoint.py
copy-weights.py
model.pth   
Readme.md
train_dvae_xtts.py
train_dvae_xtts.sh
train_gpt_xtts.py
train_gpt_xtts.sh
recipes/**
TTS/**
config.json
XTTSv2-Finetuning-for-New-Languages/**

